{% extends 'base.html.twig' %}

{% block title %} Warhammer {% endblock %}

{% block body %}
    <main role="main" style="margin-top: 30px">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3"> Warhammer </h1>
            </div>
        </div>

        <div class="container">


    <br>
   


{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}

        </div>

    </main>
{% endblock %}
